.logo-rasm{
    max-width: 60px;
    height: 60px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.novbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:600px) {
    .novbar{
        flex-wrap: wrap;
    }
}
.btn-outline{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin-right: 20px;
}
.hero-btn{
    width: 120px;
    height: 30px;
    border-radius: 20px;
}
.hero-cards{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
.modal-content{
    padding-left: 20px;
        padding-right: 20px;
}
.modal-content-large{
    padding-left: 20px;
        padding-right: 20px;
}
.site-footer{
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:400px) {
    .hero-cards{
        flex-wrap: wrap;
    }
    .modal-content{
        flex-wrap: wrap;
    }
    .modal-content-large{
        flex-wrap: wrap;
    }
}
input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
}
#hero{
    padding-top: 20px;
}