.logo-rasm{
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.novbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:600px) {
    .novbar{
        flex-wrap: wrap;
    }
}
.btn-outline{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin-right: 20px;
}
.hero-btn{
    width: 120px;
    height: 30px;
    border-radius: 20px;
}
.hero-cards{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
.modal-content{
    padding-left: 20px;
        padding-right: 20px;
}
.modal-content-large{
    padding-left: 20px;
        padding-right: 20px;
}
.site-footer{
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:400px) {
    .hero-cards{
        flex-wrap: wrap;
    }
    .modal-content{
        flex-wrap: wrap;
    }
    .modal-content-large{
        flex-wrap: wrap;
    }
}
input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#hero{
    padding-top: 20px;
}
.btn-primary{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
}
.btn-outlin{
        width: 140px;
            height: 40px;
            border-radius: 20px;
}
input:hover{
    background-color: rgb(243, 234, 234);
    transition: 0.5s;
}
button:hover{
    background-color: rgb(243, 234, 234);
    transition: 0.5s;
}
.logo-fot{
    width: 25px;
    height: 25px;
}
.logo-lam{
    align-items: center;
}
.fott{
    display: flex;
    align-items: center;
    gap: 30px;
}
a{
    text-decoration: none;
}
.info{
    max-width: 300px;
    height: 400px;
    padding-top: 25px;
    padding-left: 25px;
    width: 100%;
}
.card{
    max-width: 350px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    padding-bottom: 25px;
    margin-top: 20px;
    border-radius: 20px;
}
.cards{
    padding-left: 20px;
}
.card-title{
    padding-left: 25px;
}
.logo-fott{
    padding-left: 140px;
    width: 25px;
    height: 25px;
}
.card:hover{
    background-color: rgb(194, 187, 187);
    transition: 0.5s;
}
.sec{
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    max-width: 220px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.oo{
    border-radius: 20px;
}
.tepa {
    max-width: 300px;
    height: 400px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 25px;
    padding-bottom: 85px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.som{
    padding-left: 38px;
    padding-top: 30px;
    border-radius: 20px;
}
.ava{
    padding-left: 38px;
}
.tepa-btn{
    width: 130px;
    height: 30px;
    border-radius: 20px;
    margin-left: 80px;
}